.info-box-overlay {
    margin-left: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 10px;
    outline: 1px solid #9DCD5A;
    color: #9DCD5A;
    font-size: 0.9em;
    border-radius: 50px;
    opacity: 0.5;

    position: relative;
}

.info-box-overlay:hover {
    cursor: pointer;
    opacity: 1;
}

.info-box {
    border-radius: 10px;
    opacity: 1;
    position: absolute;
    top: -100px;
    left: -235px;
    background-color: #9DCD5A;
    width: 200px;
    height: 100px;
    z-index: 999;

    .info-box-description {
        width: 100%;
        padding: 10px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 1.1em;

    }
}

.show-info-box:hover {
    cursor: pointer;
}

.results {
    color: white;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #13262F;

    .results-main-title {
        font-size: 1.5em;
        padding-top: 20px;
        text-align: center;
    }

    .location {
        margin-top: 10px;
        text-align: center;
        font-size: 1.2em;
        padding: 20px 0;
    }

    .results-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 10px;



        .wrap-dates-content {

            padding: 10px 0;
            text-align: center;

            h3 {
                font-size: 1em;
                font-weight: bolder;
                text-align: center;
            }

            p {
                margin: 10px 0;
                text-align: center;
            }
        }

        .detections {
            text-align: center;
            font-size: 1.2em;
        }

        .wrap-co2-data-content {
            padding: 20px 0;

            h3 {
                margin: 10px 0;
                font-size: 1em;
                text-align: center;
            }

            p {
                margin: 10px 0;
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .results {
        .results-main-title {
            font-size: 2em;
            padding-top: 20px;
            text-align: center;
        }

        .location {
            width: 50%;
            font-size: 1.5em;
            margin-top: 30px;
            margin: 20px auto 1px auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-top: #9DCD5A solid 1px;
        }

        .results-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: normal;
            gap: 10px;
            outline: 1px solid #9DCD5A;
            margin: 0 20px;
            border-radius: 10px;

            .wrap-dates-content {
                border-radius: 10px;
                outline: 1px solid #9DCD5A;
                grid-column: 1;

                h3 {
                    margin: 10px 0;
                    font-size: 1.2em;
                }

                p {
                    font-size: 1em;
                }
            }

            .detections {
                font-size: 1.5em;
                padding: 20px;
            }

            .wrap-co2-data-content {
                border-radius: 10px;
                outline: 1px solid #9DCD5A;
                grid-column: 2;

                h3 {
                    font-size: 1.2em;
                }

                p {
                    font-size: 1em;
                }
            }
        }
    }
}