@font-face {
    font-family: 'Montserrat';
    src: url('/src/fonts/Montserrat-Italic-VariableFont_wght.ttf');
}


//MOBILE VERSION

.intro {
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    font-family: 'Montserrat';

    .intro-content {
        border-radius: 10px;
        background-color: white;

        .intro-title {
            font-size: 1.2em;
            text-align: center;
            padding: 10px
        }

        .intro-paragraph {
            text-align: center;
            padding: 10px;
            font-size: 1em;
        }

        .red {
            color: red;
            font-weight: bolder;
        }
    }
}


//DESKTOP VERSION

@media only screen and (min-width: 768px) {
    .intro {
        margin: 0 auto;
        padding: 30px;
        max-width: 90%;

        .intro-content {
            padding: 20px;
            .intro-title {
                font-size: 1.5em;
            }

            .intro-paragraph {
                font-size: 1.2em;
            }
        }
    }
}